@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/css/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}


/* Global Defaults */
 html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }
 body {
 font-family: 'Roboto', sans-serif;
 }
 
 /* Headlines */
 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 font-weight: normal;
 font-family: 'Roboto', sans-serif;
 }
 
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

 /* Text Styles */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
 margin: 0;
 padding: 0;
 font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
 }
 blockquote {
 margin: 1.25em;
 padding: 1.25em
 }
 q {
 font-style: italic;
 }
 acronym, abbr {
 cursor: help;
 border-bottom: 1px dashed;
 }
 small {
 font-size:.85em;
 }
 big {
 font-size:1.2em;
 }
 
 /* Links and Images */
 a, a:link, a:visited, a:active, a:hover {
 text-decoration: underline;
 }
 img {
 border: none;
 }
 
 /* Tables */
 table {
 margin: 0;
 padding: 0;
 border: none;
 }
 
 /* Forms */
 form {
 margin: 0;
 padding: 0;
 display: inline;
 }
 label {
 cursor: pointer;
 }
 
 /* Common Classes */
 .clear { clear: both; }
 .floatLeft { float: left; }
 .floatRight { float: right; }
 .textLeft { text-align: left; }
 .textRight { text-align: right; }
 .textCenter { text-align: center; }
 .textJustify { text-align: justify; }
 .blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */
 .bold { font-weight: bold; }
 .italic { font-style: italic; }
 .underline { text-decoration: underline; }
 .noindent { margin-left: 0; padding-left: 0; }
 .nomargin { margin: 0; }
 .nopadding { padding: 0; }
 .nobullet { list-style: none; list-style-image: none; }



 .center
{
margin-left:auto;
margin-right:auto;
width:70%;
}

.header {
  text-align: center;
}

.leader-board {
  text-align: center;
}

.btn-container { text-align: center;}
.start-btn { width: 200px; height: 80px;font-weight: bold;}

.modal {width:940px;left:40%;}
#challenge-window {}
#challenge-window .modal-header { text-align: center;}


#challenge-window .colors { margin-left:auto;
margin-right:auto;
width:50%;}
#challenge-window .color { height: 200px; width: 100px; border: 1px solid black; display: inline-block;}


#challenge-window .colors .red { background-color: red; }
#challenge-window .colors .green {background-color: green;}
#challenge-window .colors .blue {background-color: blue;}
#challenge-window .colors .yellow {background-color: yellow;}

#challenge-window .clock { margin-top:20px; text-align: center;}

#challenge-window .ctl-buttons { margin-top:20px; text-align: center;}
#challenge-window .ctl-buttons button { width: 170px; height: 50px;}


#challenge-window .name-entry {margin-top:20px; text-align: center; display: none;}